<div class="footer_section layout_padding">
    <div class="container">
       <div class="footer_logo"><a href="index.html"><img src="/images/logo.png"></a></div>
       <div class="footer_menu">
          <ul>
             <li><a href="/">Home</a></li>
             <li><a href="/recipes">Recipe</a></li>
             <li><a href="/addrecipe">Add Recipe</a></li>
             
          </ul>
       </div>
       <div class="contact_menu">
          <ul>
             <li><a href="#"><img src="/images/call-icon.png"></a></li>
             <li><a href="#">Call : +91 9099368070</a></li>
             <li><a href="blog.html"><img src="/images/mail-icon.png"></a></li>
             <li><a href="features.html">kdthakkar22@gmail.com</a></li>
          </ul>
       </div>
    </div>
 </div>
 <div class="copyright_section">
    <div class="container">
       <p class="copyright_text">Copyright 2024 All Right Reserved By. <a href="https://html.design">CookSphere PVT LTD</a></p>
    </div>
 </div>