<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CookSphere</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" href="/images/fevicon.png" type="image/gif" />
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <%- include('header.ejs')%>
    


    <div class=" container d-flex justify-content-center align-items-center vh-100">
        <div class="mt-4 card p-4 shadow-lg" style="width: 100%; max-width: 400px;">
            <h1 class="text-center mb-4">Login</h1>
            <% if(errorMessage){%>
                <div class="alert alert-danger" role="alert">
                    <%= errorMessage %>
                </div>
            <%}%>
            <form action="/LoginSignup" method="POST">
                <!-- Email Input -->
                <div class="form-group mb-3">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                </div>
                
                <!-- Password Input -->
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary w-100">Login</button>
                
                <!-- Sign Up Link -->
                <p class="text-center mt-3">Don't have an account? <a href="/LoginSignup/signup">Sign up</a></p>
            </form>
        </div>
    </div>
    <br>
    <br>
    <%- include('footer.ejs')%>
    <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>
